.height80{
	height: 10px;
	overflow: hidden;
	clear: both;
}
body{
	background: #eeeeee;
}
/*<!-- 条件筛选查找 -->*/
.find_box{
	width: 1200px;
	height: 160px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.find_box .find_head{
	width: 100%;
	height:30px;
	overflow: hidden;
}
.find_box .find_head ul li{
	float: left;
	width: 320px;
	
}

.find_box .find_head ul li i{
	color:#a9b7b7;
}
.find_box .region{
	width: 320px;
	height: auto;
	float: left;

}
.find_box .region label{
	height: 100%;
	width: 70px;
}
.find_box .check_box{
	width: 400px;
	height: auto;
	float: left;
	overflow: hidden;
}
.find_box .check_box ul li{
	height: 22px;
	float: left;
	width: 130px;
	font-size: 12px;
	color:#7b7b7b;
}
.find_box .check_box ul li label{
	font-weight:normal;
}
.find_box .check_box ul li input{
	margin-top:2px;
	margin-right:5px;
	display: inline-block;
	float: left;
}
.find_box .find_btn{
	width: 374px;
	height: 58px;
	background: #11a750;
	text-align: center;
	line-height: 58px;
	color:#fff;
	border: 0;
	margin: 0 auto;
	position: absolute;
	left: 43%;
	margin: -100px 0px 0px 200px;
	top:200px;
	cursor: pointer;
	font-size: 18px;
}
/*end*/
/*主体内容*/
.main_content{
	width:1200px;
	height: auto;
	overflow: hidden;
	margin:0 auto;
}
.main_content .main_head{
	width:100%;
	height: 94px;
}
.main_content .main_head ul li.active{
	color:#191919;
	border-bottom:2px solid #f60;
}
.main_content .main_head ul li{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 94px;
	color:#7b7b7b;
	font-size: 24px;
}
.main_content .main_head ul li i{
	font-size: 26px;
	font-weight: bold;
	margin-right:15px;
}
.color11a750{
	color:#11a750;
}
/*end*/
/*酒店列表*/
.main_content .book_hotel_list{
	width: 1200px;
	height: auto;
	overflow: hidden;
	float: left;
	display: none;
}
.main_content .book_hotel_list ul li{
	width:50%;
	height: 152px;
	float: left;
	margin-top:12px;
}
.main_content .book_hotel_list ul li .xtb{
	position:absolute;
}
.main_content .book_hotel_list ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.main_content .book_hotel_list ul li div.info_box{
	width:566px;
	height: 100%;
	background: #fff;
}
.main_content .book_hotel_list ul li div.info_box .xtb{
	position: relative;
	width: 34px;
	height: 34px;
	top: 45px;
	left: 5px;
}
.main_content .book_hotel_list ul li div.info_box .pic_left{
	float: left;
	width:169px;
	height: 112px;
	margin-left: 10px;
	margin-top:20px; 
}

.main_content .book_hotel_list ul li div.info_box h3{
	float: left;
	font-size: 16px;
	color:#191919;
	border-bottom:1px solid #ccc;
	margin-left: 15px;
	height: 23px;
	margin-top:15px; 
	width:285px;
	font-weight: normal;


}
.main_content .book_hotel_list ul li div.info_box span.right_money{
	font-size: 14px;
	color:#e0721f;
	/*padding-left:35px;*/
	margin-top:20px;
	float:right;
	padding-right:16px;
}
.main_content .book_hotel_list ul li div.info_box .icon_list{
	height: 22px;
	overflow: hidden;
	float: left;
	width: 380px;

}
.main_content .book_hotel_list ul li div.info_box .icon_list ul {
	height: 100%;
}
.main_content .book_hotel_list ul li div.info_box .icon_list ul li{
	float: left;
	width:20px;
	height: 22px;
	margin-top:0;
	margin-left: 10px; 
}
.main_content .book_hotel_list ul li div.info_box .icon_list ul li.icon1{
	background: url(../images/icon_08.png) no-repeat center center;
}
.main_content .book_hotel_list ul li div.info_box .icon_list ul li.icon2{
	background: url(../images/icon_10.png) no-repeat center center;
}
.main_content .book_hotel_list ul li div.info_box .icon_list ul li.icon3{
	background: url(../images/icon_03.png) no-repeat center center;
}
.main_content .book_hotel_list ul li div.info_box .icon_list ul li.icon4{
	background: url(../images/icon_05.png) no-repeat center center;
}
.main_content .book_hotel_list ul li div.info_box p{
	width: 68%;
	font-size: 12px;
	color:#7b7b7b;
	height: 50px;
	overflow: hidden;
	float: right;
	margin-top: 8px;
}
.main_content .book_hotel_list ul li div.info_box p i{
	width:12px;
	height: 100%;
	display: block;
	float: left;
	padding-right:20px;
	margin-left:10px;
}
/*end*/
/*分页*/
/*分页*/
.main_content .page_list{
	width: 450px;
	height: 29px;
	overflow: hidden;
	clear: both;
	margin: 0 auto;
}
.main_content .page_list span.first_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 27px;
	text-align: center;
	display: block;
	float: left;
	height: 27px;
}
.main_content .page_list span.prev_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	float: left;
	height: 27px;
}
.main_content .page_list span.next_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin-left: 10px;
	height: 27px;
}
.main_content .page_list span.last_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	display: block;
	float: left;
	height: 28px;
	
}
.main_content .page_list ul{
	float: left;
}
.main_content .page_list ul li{
	width:25px;
	height: 27px;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
	line-height: 25px;
	color:#7b7b7b;
	font-size: 12px;
	margin-left: 10px;
}
.main_content .page_list ul li.active{
	width: 27px;
	height: 27px;
	background: #11a750;
	color:#fff;
}
.list1{
	display: block;
}
.list2{
	display: none;
}
.input_sty{
	border:1px solid #ccc;
	background:#eee url(../images/input_sty_bg_03.jpg) no-repeat right center;
	height: 35px;
}