.height70{
	height: 70px;
	overflow: hidden;
	clear: both;
}
body{
	font-family: "微软雅黑";
}
/*<!-- 主体内容 -->*/
.main_wrap{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.main_wrap .con_left{
	float: left;
	width: 314px;
	height: auto;
}
.main_wrap .con_right{
	width: 850px;
	height: auto;
	float: right;
}
.height465{
	height: 463px;
	border:1px solid #ccc;
}
.height396{
	border:1px solid #ccc;
}
.main_wrap .con_left .wrap_box{
	width:100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.main_wrap .con_left h3{
	width:100%;
	height: 46px;
	color:#fff;
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	background: url(../images/wrap_box_head_bg.png) no-repeat center center;
	font-weight: normal;
	margin:0;
}
.main_wrap .con_left .wrap_box ul.list{
	padding:10px;

}
.main_wrap .con_left .wrap_box ul.list li{
	width:296px;
	height: 46px;
	background: #eeeeee url(../images/wrap_box_li_bg1.png) no-repeat 15px center;
	color:#7b7b7b;
	font-size: 16px;
	line-height: 46px;
	text-indent: 36px;
	margin-bottom: 13px;
	cursor: pointer;
}
.main_wrap .con_left .wrap_box ul.list li a{
	width:296px;
	height: 46px;
	color:#a0a0a0;
	font-size: 16px;
	line-height: 46px;
	text-indent: 36px;
	margin-bottom: 13px;
	cursor: pointer;
}
.main_wrap .con_left .wrap_box ul.list li i{
	color:#a0a0a0;
	font-size: 18px;
	float: right;
	padding-right: 10px;
}
.main_wrap .con_left .wrap_box ul.list li:hover{
	background: #eeeeee url(../images/wrap_box_li_bg2.png) no-repeat 15px center;
	color:#e0711f;
}
.main_wrap .con_left .wrap_box ul.list li:hover a{
	color:#e0711f;
}
.main_wrap .con_left .wrap_box ul.list li:hover i{
	color:#e0711f;
}
.main_wrap .con_left .wrap_box span.img_ele{
	display: block;
	width: 291px;
	height: 200px;
	margin:15px auto;
}
.main_wrap .con_left .wrap_box h4.bt_money{
	width: 100%;
	height: 39px;
	line-height: 39px;
	text-indent: 11px;
	font-weight: normal;
	overflow: hidden;
	font-size: 16px;
	color:#191919;
	font-family: "微软雅黑";
	margin:0;
}
.main_wrap .con_left .wrap_box .bt_money span{
	color:#e0721f;
	font-size: 12px;
	float: right;
	padding-right: 10px;
}

.main_wrap .con_left .wrap_box p.news_time{
	width: 100%;
	text-indent: 11px;
	color:#7b7b7b;
	font-size: 12px;
	margin:0;
}
.main_wrap .con_left .wrap_box .icon_list{
	height: 30px;
	overflow: hidden;
	width:100%;
}
.main_wrap .con_left .wrap_box .icon_list ul li{
	float: left;
	width:20px;
	height: 30px;
	margin-left: 10px;
}
.main_wrap .con_left .wrap_box .icon_list ul li.icon1{
	background: url(../images/icon_08.png) no-repeat center center;
}
.main_wrap .con_left .wrap_box .icon_list ul li.icon2{
	background: url(../images/icon_10.png) no-repeat center center;
}
.main_wrap .con_left .wrap_box .icon_list ul li.icon3{
	background: url(../images/icon_03.png) no-repeat center center;
}
.main_wrap .con_left .wrap_box .icon_list ul li.icon4{
	background: url(../images/icon_05.png) no-repeat center center;
}
.main_wrap .con_left .wrap_box p.adr{
	width: 100%;
	font-size: 12px;
	color:#7b7b7b;
	height: 30px;
	overflow: hidden;
	margin:0;
}
.main_wrap .con_left .wrap_box p.adr i{
	width:15px;
	height: 100%;
	display: block;
	float: left;
	padding-right:10px;
	margin-left:10px;
}

/*右边列表部分*/
.main_wrap .con_right .right_head{
	width:100%;
	height: 37px;
	border-bottom:1px solid #11a750;
	background: url(../images/con_right_head_bg_03.png) no-repeat 10px center;
	overflow: hidden;
}
.main_wrap .con_right .right_head span{
	font-size: 14px;
	color:#191919;
	line-height: 39px;
	padding-left: 40px;
	float: left;
}
.main_wrap .con_right .right_head ul{
	height: 100%;
	float: left;
}
.main_wrap .con_right .right_head ul li{
	float: left;
	font-size: 12px;
	line-height: 37px;

}
.main_wrap .con_right .right_head ul li a{
	color:#7b7b7b;
}
.main_wrap .con_right .hotel_list{
	width:100%;
	height: auto;
	overflow: hidden;
}
.main_wrap .con_right .hotel_list ul li{
	float: left;
	width: 50%;
	height: 135px;
	margin-top: 15px;
}

.main_wrap .con_right .hotel_list ul li span.pic_left{
	float: left;
	width:169;
}
.main_wrap .con_right .hotel_list h3{
	float: left;
	font-size: 14px;
	color:#191919;
	border-bottom:1px solid #ccc;
	margin-left: 15px;
	height: 30px;
	margin-top:0; 
	width:168px;
	font-weight: normal;
	line-height: 30px;
	overflow: hidden;
	font-family: "微软雅黑";
}
.main_wrap .con_right .hotel_list span.right_money{
	font-size: 14px;
	color:#e0721f;
	/*padding-left:35px;*/
	line-height:30px;
}
.main_wrap .con_right .hotel_list ul li .icon_list{
	height: 30px;
	overflow: hidden;
	float: left;
	width: 210px;
}
.main_wrap .con_right .hotel_list ul li .icon_list ul {
	height: 100%;
}
.main_wrap .con_right .hotel_list ul li .icon_list ul li{
	float: left;
	width:20px;
	height: 100%;
	margin-top:0;
	margin-left: 10px; 
}
.main_wrap .con_right .hotel_list ul li .icon_list ul li.icon1{
	background: url(../images/icon_08.png) no-repeat center center;
}
.main_wrap .con_right .hotel_list ul li .icon_list ul li.icon2{
	background: url(../images/icon_10.png) no-repeat center center;
}
.main_wrap .con_right .hotel_list ul li .icon_list ul li.icon3{
	background: url(../images/icon_03.png) no-repeat center center;
}
.main_wrap .con_right .hotel_list ul li .icon_list ul li.icon4{
	background: url(../images/icon_05.png) no-repeat center center;
}
.main_wrap .con_right .hotel_list ul li p{
	width: 60%;
	font-size: 12px;
	color:#7b7b7b;
	height: 40px;
	overflow: hidden;
	float: right;

}
.main_wrap .con_right .hotel_list ul li p i{
	width:15px;
	height: 100%;
	display: block;
	float: left;
	padding-right:10px;
	margin-left:10px;
}

/*end*/

.main_wrap .page_list{
	width: 450px;
	height: 29px;
	overflow: hidden;
	clear: both;
	margin: 0 auto;
}
.main_wrap .page_list span.first_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 27px;
	text-align: center;
	display: block;
	float: left;
	height: 27px;
}
.main_wrap .page_list span.prev_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	float: left;
	height: 27px;
}
.main_wrap .page_list span.next_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin-left: 10px;
	height: 27px;
}
.main_wrap .page_list span.last_page{
	font-size: 12px;
	color:#7b7b7b;
	width: 50px;
	height: 100%;
	line-height: 28px;
	text-align: center;
	display: block;
	float: left;
	height: 28px;
	
}
.main_wrap .page_list ul{
	float: left;
}
.main_wrap .page_list ul li{
	width:25px;
	height: 27px;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
	line-height: 25px;
	color:#7b7b7b;
	font-size: 12px;
	margin-left: 10px;
}
.main_wrap .page_list ul li.active{
	width: 27px;
	height: 27px;
	background: #11a750;
	color:#fff;
}